<html>
   <head>
       <title>Employee form</title>
   </head>
<body>
<form action="dataservice/add" method="post">
   <table>
       <tr>
           <th>Eno</th>
           <td><input type="text" name="eno"></td>
       </tr>
       <tr>
        <th>Name</th>
        <td><input type="text" name="name"></td>
    </tr>
    <tr>
        <th>Desig</th>
        <td><input type="text" name="desig"></td>
    </tr>
    <tr>
        <td colspan=3 align="center">
            <input type="submit" value="Store Employee">
        </td>
    </tr>
   </table>
</form>
</body>
</html>