.formbox{
    width: 700px;
    min-height:500px;
    background-color: lightseagreen;
}

input[type="text"],select,input[type="button"]{
    height: 30px;
    width:150px;
    border: 1px solid darkgrey;
}
textarea{
    height: 400px;
    width:600px;
}

